body, html, *{margin:0; padding:0; font-family: 'abel', sans-serif;}
/*
Header
*/

header {
    height: 200px;
}
#menu {
    width: 100%;
    background-color: #1da7a3;
    display: flex;
}

#menu>a {
    color: #ffffff;
    padding: 0 0;
    text-decoration: none;
    margin: 5px -9px;
    margin-left: 64px;
    display: block;
    cursor: pointer; 
}


.container-menu {
    width:100%;
}

#select-person {
    width: 150px;
    height: 31px;;
    background-color: #257d7e;
    margin-left: 77%;
    color: #ffffff;
    cursor: pointer;
    
}

#select-person p {
    height: 31px;
    line-height: 31px;
    margin: 0px 4px;
    display: inline-block
}

.person-select {
    
    line-height: 31px;
    margin: -4px 0px;
    display: inline-block;
}

.person-selector {
    line-height: 31px;
    margin: 1px 1px;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    margin-left:  -56px;
    margin-top: 11px;
    background-color: #257d7e;
    width: 206px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-transform: none;
}


.dropdown-content a {
    padding: 9px 3px;
    text-decoration: none;
    display: block;
    color: #fff;
}


.dropdown-content a:hover {background-color: lightgrey;}

.dropdown-content a img {
    margin: 0 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.triangle {
    position: absolute;
    margin: -11px 0 0 186px;
}

#select-person:hover .dropdown-content {
    display: block;
}

.line-green {
    width: 100%;
    height: 5px;
    background-color: #72C0BE; 
}

.container-contactify {
    width: 100%;
    height: 72px;
    background-color: #6eB9B6;
}

.container-contactify img {
    margin: 11px 66px;
}

.line-grey {
    width: 100%;
    height: 5px;
    height: 5px;
    background-color: #C5C3B6;
}

.container-contactLeft {
    width:78%;
    height: 90px;
    float:left;
    background-color: #D7D9CF;
}

.text-name {
    width: 220px;
    height: 33px;
    margin: 23px 17px 0px 67px;
    font-size: 14px;
    display: inline-block;
}

.styled-select {
   background: url('../images/selector2.png') no-repeat right #fff;
   border: 1px solid #ccc;
    display: inline-block;
   }

.styled-select select {
   background: transparent;
   width: 220px;
    height: 35px;
   padding: 5px;
    color: #A9A9A9;
   font-size: 14px;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   }

.select-city {
    width: 220px;
    height: 33px;
    font-size: 14px;
}

.container-contactRight {
    width: 22%;
    height: 90px;
    float: right;
    background-color: #CDCFC5;
}

.container-btn1 {
    width: 98px;
    height: 32px;
    background-color: #64A8A5;
    display: inline-block;
    position: absolute;
    margin: 24px 30px;
    cursor: pointer;
}

.left-section {
    width: 27px;
    height: 32px;
    display: inline-block;
}

.left-section img {
    margin: 8px 10px;
}

.vertical-line {
    width: 1px;
    height: 32px;
    background-color: #6BB4B3;
    display: inline-block;
}

.right-section {
     width: 27px;
    height: 32px;
    margin: -31px 44px;
    color: #fff;
    font-size: 15px;
}

.horizontal-line {
    width: 98px;
    height: 2px;
    background-color: #467a80;
    margin: 25px 0;
    
}


.container-btn2 {
    width: 184px;
    height: 32px;
    background-color: #5394B9;
    display: inline-block;
    margin: 25px 54px;
    cursor: pointer;
    
}

.left-section2 {
    width: 27px;
    height: 32px;
    display: inline-block;
}

.left-section2 img {
    margin: 10px 10px;
}

.vertical-line2 {
    width: 1px;
    height: 32px;
    background-color: #6BB4B3;
    display: inline-block;
}

.right-section2 {
     width: 180px;
    height: 32px;
    margin: -31px 44px;
    color: #fff;
    font-size: 16px;
}

.horizontal-line2 {
    width: 184px;
    height: 2px;
    background-color: #42768E;
    margin: 25px 0;
}

/* Table Form */
#form-container {
    width: 100%;
    height: 490px;
    background-color: #EAEBE9;
}

.form-main {
    width: 90%;
    background-color: #fff;
    margin: 47px 70px; 
    position: absolute;
}

table {
    width: 100%;
}

table tr:first-child {
    border: 1px solid #5FA7CD;
    text-align: left;
    height: 39px;
    background-color: #5394B9;
    color: #fff;
    padding: 15px;
}

table tr th {
    
    border: 1px #5FA7CD;
    padding: 15px;
}

table tr th img {
    float: right;
    margin: 4px 0;
}

tr a {
    color: #487B73;
    float: right;
    margin-right: 26px;
}

tr a img {
    margin: 2px 2px;
}

table td {
    height: 39px;
    border: 1px #E9EAEB;
    text-align: left;
    padding-left: 15px;
    border-bottom: 1px solid #E9EAEB;
    color: #41423D;   
}

/* Footer */

#cont {
    width: 100%;
    height: 150px;
    background-color: #4D4D45;
    display: inline-block;
    position: relative;
}

.container-mid {
    width: 40%;
    height: 100%;
    background-color: #4D4D45;
    display: inline-block;
    position: absolute;
}

.cloud {
    padding: 20px 30px;
    display: inline-block;
}

.some-txt {
    padding: 20px 0px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.cont-high {
    width: 100%;
    height: 49%;
    background-color: #53524E;
}

.sync-btn {
    display: inline-block;
    width: 120px;
    height: 30px;
    float: right;
    margin: 23px 56px;
    
}

.sync-btn button {
    padding: 8px 20px;
    width: 148px;
    border-radius: 4px;
    background-color: #66655F;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.cont-low {
    width: 100%;
    height: 49%;
    background-color: #53524E;
    margin-top: 2px;
}

.doc {
    padding: 19px 38px;
    display: inline-block
}

.container-left {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.left-txt{
    margin: 3% 13%;
    
}

.left-txt a {
    color: #fff;
    padding: 3px;
    display: block;
}

.left-info {
    width: 100%;
    height: 34px;
}

.left-info p {
    color: #fff;
    display: inline-block;
    margin-left: 77px;;
}

.left-info a {
    color: #fff;
    margin-left: 30px;
}

.container-right {
     width: 20%;
    height: 100%;
    display: inline-block;
    float: right;
}

@media screen and (max-width: 700px){
   #menu {height: 78px;}
    #menu>a {margin: 25px 15px; padding: 0 9px; margin-left: inherit; font-size: 20px;}
    #select-person {display:none; margin-left:0; margin: -35px 0 0 238px;}
    .container-contactify img {margin: 11px 47px;}
    .text-name {margin: 2px 2px 10px 48px}
    .styled-select select {margin: 2px 2px 2px 0px;}
    .styled-select {display: block; margin: 0 48px; width: 222px;}
    .container-contactLeft {height: 200px; width: 70%;}
    .container-contactRight {height: 200px; width: 30%;}
    .container-btn1 {margin: 14px 48px;}
    .container-btn2 {display: block; margin: 147px -232px;}
    .form-main{margin: 157px 0; position: relative; font-size: 8px; width: 100%;}
    table tr th {padding: 8px;}
    table td {padding-left: 0;}
    table tr th img {display:none;}
    #form-container {height: 351px;}
    .container-left {width: 30%;}
    .container-right {width: 30%;}
    .left-info p {font-size: 10px; margin-left: 21px;}
    .left-info a {margin: 0 19px; display: block;}
    #cont {height: 245px;}
    .cloud {margin: 12px 12px; padding:0;}
    .some-txt {padding: 0;}
    .sync-btn {display: block; width: 120px; height: 30px; float:none; margin: -85px 61px;}
    .doc {padding: 0; margin: 5px 19px;}
    .left-txt {padding: 38px 0;}
}

@media screen and (max-width: 450px){
   #menu {height: 78px;}
    #menu>a {margin: 25px 15px; padding: 0 9px; margin-left: inherit; font-size: 20px;}
    #select-person {display:none; margin-left:0; margin: -35px 0 0 238px;}
    .container-contactify img {margin: 11px 47px;}
    .text-name {margin: 2px 2px 10px 48px}
    .styled-select select {margin: 2px 2px 2px 0px;}
    .styled-select {display: block; margin: 0 48px; width: 222px;}
    .container-contactLeft {height: 200px; width: 70%;}
    .container-contactRight {height: 200px; width: 30%;}
    .container-btn1 {margin: 14px 48px;}
    .container-btn2 {display: block; margin: 147px -232px;}
    .form-main{margin: 157px 0; position: relative; font-size: 8px; width: 100%;}
    table tr th {padding: 8px;}
    table td {padding-left: 0;}
    table tr th img {display:none;}
    #form-container {height: 351px;}
    .container-left {width: 30%;}
    .container-right {width: 30%;}
    .left-info p {font-size: 10px; margin-left: 21px;}
    .left-info a {margin: 0 19px; display: block;}
    #cont {height: 245px;}
    .cloud {margin: 12px 12px; padding:0;}
    .some-txt {padding: 0;}
    .sync-btn {display: block; width: 120px; height: 30px; float:none; margin: -85px 61px;}
    .doc {padding: 0; margin: 5px 19px;}
    .left-txt {padding: 38px 0;}
}
